@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #c2c2c2;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.navigation {
  display: flex;
  max-width: 800px;
  margin-right: auto;
}

.navigation-logo {
  position: relative;
  min-width: 139px;
  height: 100%;
  margin-right: 30px;
}

.small-logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;
  color: inherit;
  text-decoration: none;
}

.header-actions {
  display: flex;
}

.header-actions .button {
  align-self: center;
}

.search {
  display: block;
  min-width: 42px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.like-it {
  display: block;
  min-width: 42px;
  margin-right: 20px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.welcome-container {
  height: 485px;
  padding-top: 51px;
  margin-bottom: 63px;
  background-color: #aaaaaa;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: center bottom, center top;
}

.welcome-message {
  margin: 0 auto;
}

.index-heading {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.reasons-title {
  width: 655px;
  margin: 0 auto;
  margin-bottom: 90px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reasons-item {
  background-color: #ffffff;
  color: #333333;
}

.reasons-item-big {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.reasons-item-middle {
  display: flex;
  width: 100%;
}

.reasons-item-text {
  width: 400px;
  height: 384px;
  padding-top: 92px;
}

.reasons-item-text-light {
  background-color: #f0f5f9;
}

.reasons-item-text-normal {
  background-color: #e6f0f6;
}

.reasons-item-text-dark {
  background-color: #82b3d3;
  color: #ffffff;
}

.reasons-item-text-dark > .reasons-item-title {
  color: #ffffff;
}

.reasons-image-left {
  order: -1;
}

.reasons-subreasons {
  width: 100%;
  margin: 0;
}

.reasons-subreasons .reasons-item-text {
  padding-top: 182px;
}

.reasons-item-title {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons-count {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.reasons-count::before {
  content: '— №';
}

.reasons-count::after {
  content: ' —';
}

.reasons-description {
  width: 230px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-motel {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 80px;
}

.reason-food {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 80px;
}

.reason-souvenirs {
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 80px;
}

.booking {
  padding: 0;
  padding-top: 91px;
  padding-bottom: 93px;
}

.booking-title {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.booking-suggestion {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.booking-button-wrapper {
  text-align: center;
}

.booking .button {
  width: 574px;
  margin: 0 auto;
}

.subscription {
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription-title {
  width: 405px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-promise {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscription-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.subscription-email {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subscription-email::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.subscription-form .button {
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subscription-main {
  background-color: #aaaaaa;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.subscription-main .subscription-promise {
  color: inherit;
}


.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 120px;
  margin: 0 auto;
}

.socials-list {
  display: flex;
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials-item {
  flex-grow: 1;
}

.socials-link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.socials-vk {
  background-image: url("../images/icons/vk.svg");
}

.socials-telegram {
  background-image: url("../images/icons/telegram.svg");
}

.socials-youtube {
  background-image: url("../images/icons/youtube.svg");
}

.phone-wrapper {
  width: 720px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

.html-academy-link {
  width: 115px;
}

.catalog-wrapper {
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  background-color: #aaaaaa;
  background-image: url("../images/filters-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 20px;
}

.breadcrumbs-item:last-of-type {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.filters-form-left {
  display: flex;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-item:last-child {
  margin: 0;
}

.filters-form-left .filter-form-group:first-of-type {
  margin-right: 70px;
}

.filters-form-right {
  display: flex;
}

.filters-form-right .filter-form-group {
  margin-right: 70px;
}

.filters-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filters-form-buttons .button {
  width: 160px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 20px;
}

.filters-form-reset {
  padding: 0;
  font-family: inherit;
  border-style: none;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.price-filter-label {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.3;
}

.price-filter-input {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
}

.filters-form-reset {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
}

.offers {
  padding-top: 55px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 25px;
}

.offers-presentation {
  display: flex;
  margin-bottom: 57px;
}

.offers-title {
  margin: 0;
  margin-right: 190px;
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.ordering {
  width: 290px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  margin-right: 80px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-item {
  width: 48px;
  height: 48px;
}

.view-selector {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-selector-tiles {
  background-image: url("../images/icons/tiles.svg");
}

.view-selector-slideshow {
  background-image: url("../images/icons/slideshow.svg");
}

.view-selector-list {
  background-image: url("../images/icons/list.svg");
}

.hotels-list {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  list-style-type: none;
}

.hotels-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto min-content min-content min-content;
  row-gap: 16px;
  column-gap: 20px;
  /* flex-direction: column; */
  min-width: 340px;
  /* height: 438px; */
  margin: 0;
  /* margin-right: 18px; */
  padding: 20px;
}

/* .hotels-item:nth-child(3n) {
  margin: 0;
} */

.hotels-title {
  margin: 0;
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  vertical-align: middle;
}

.hotels-image {
  grid-row-start: 1;
  grid-column: 1 / -1;
}

.hotels-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-stats {
  display: flex;
  justify-content: space-between;
}

.hotels-rating-stars {
  display: flex;
  margin: 0;
  align-items: center;
}

.hotels-rating-star {
  width: 18px;
  height: 17px;
}

.hotels-rating-star-active {
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hotels-rating {
  margin: 0;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 23px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.page-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-of-type {
  margin: 0;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.page-limiter {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-limiter-title {
  margin-right: 50px;
}

.page-limiter-select {
  width: 160px;
  height: 50px;
  padding-left: 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.button {
  display: block;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.button-big {
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button-additional {
  background-color: #82b3d3;
}

.button-selected {
  background-color: #7db54f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
